HEADLINE{
    text-align: center;
    font-family: arial;
    font-size: 80px;
    background-color: grey;
    cursor: url(https://ldstabler.github.io/start/default.png),auto;
}
PARA{
  text-align: center;
  font-family: arial narrow;
}