bookstore{
    text-align: center;
    border-width: 1px;
    border-color: black;
    font-family: arial;
}
book{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 100%;
    font-family: arial;
}
price{
    font-color: green;
    font-family: arial;
}
